.updateProfil{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;

    gap: 2rem;
    width: 600px;
    padding:0rem 0 3rem 3rem;

    margin-bottom: 1rem;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding-left: 1px; 
        z-index: -1; /* Placer la bordure derrière le contenu */

        border-radius: inherit; /* Hériter du border-radius du parent */
        background: linear-gradient(0deg, #0D1F3C, #FEFFED, #0D1F3C);
            
        // Mask pour le contour en dégradé
        mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
        mask-composite: exclude;

        -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;

    }


    &__form {
        
        & input {
            display: block;
            width:  400px;
            height: 40px;
            margin: 0.5rem 0 1rem;

            background-color: #112443;
            border: none;
            border-radius: 0.5rem;

            color: #FEFFED;
            padding-left: 1rem;

            &:nth-last-child(2) {
                margin-bottom: 2rem ;
            }
        }

        & label {
            font-size: 0.9rem;
        }

        & button {
            padding: 0.5rem 2rem;
            color: #FEFFED;
            background-color: #3B9CF1;
            font-weight: 700;

            border: none;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__photo {
        &__profil {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        &__edit {
            background-color: #FEFFED;
            width: 20px;
            height: 20px;
            padding: 0.3rem;

            border-radius: 50%;
            outline: 2px solid #0D1F3C;

            position: absolute;
            top: 23%;
            left: 8rem;

        }
    }
}

.dialog__form {
    &__label {
        display: block;
        font-weight: 700;
        text-align: center;
        padding: 2rem;
    }
    &__input {
        display: block;
        margin: -1rem auto 0;
        background-color: #35507a;
        height: 40px;
        width: 200px;
        padding-left: 1rem;

        border: none;
        border-radius: 0.3rem;
    }
    &__btn {
        display: block;
        margin: 1rem auto;

        padding: 0.5rem 2rem;
        border: none;
        background-color: #3B9CF1;
        border-radius: 0.3rem;
        color: #FEFFED;
        font-weight: 700;
    }

    &__btnClose {
        position: absolute;
        top: 1rem;
        right: 1rem;

        background-color: transparent;
        color: #FEFFED;


        border-radius: 50%;

        width: 30px;
        height: 30px;

        border: 1px solid #FEFFED;
    
    }
}

@media screen and (max-width: 768px) {
    .updateProfil{
        padding-bottom: 6rem;
        position: relative;

        &::before {
            padding-top: 1px;
            padding-left: 0px; 

            background: linear-gradient(90deg, #0D1F3C, #FEFFED, #0D1F3C);

        }

    }
}

@media screen and (max-width: 375px) {
    .updateProfil{
        flex-direction:column-reverse;
        width: 100%;
        padding: 2rem 0 6rem 0;

        &__form {

            & input {
                width: 300px;
            }
        }

        &__photo {
            &__edit {
                top: 20%;
                left: 4.5rem;
            }
        }

    }
    
}